n8n-workflow/Fabrica de funis.json
{
  "name": "Fabrica de funis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-vendas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "7ee587a5-517a-4371-9e34-6d6c6c4dc1b6",
      "name": "Webhook",
      "webhookId": "75500b50-42c0-44bb-ac89-1e8684c17ee9"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": \"{{ $('AI Agent').item.json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ],
      "id": "7d2cc6f1-6489-4632-a80a-9cb92f673edf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é o vendedor do produto {{ $json.body.slug }}. Responda ao cliente: {{ $json.body.message }}",
        "options": {
          "systemMessage": "Você é o Vendedor Especialista da Fábrica de Funis. Seu objetivo é vender o produto {{ $json.body.slug }}. Use um tom amigável e autoritário. Se o cliente estiver interessado, direcione para o checkout ou peça o WhatsApp."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "a218b3d6-778b-4249-a4a6-fa223698e49a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        224
      ],
      "id": "3c9f9894-9724-4967-bbad-999c8542af42",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4uVmdMYsyFY7fnAz",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sessao_01",
        "contextWindowLength": "={{ 5 }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        384,
        224
      ],
      "id": "5abb71cc-b842-448d-b480-4cd579d9d9a1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jaNerklnnhqjNT1jtOpImLljy5iJf3ZSnR75VYdr8c8",
          "mode": "list",
          "cachedResultName": "Leads Fábrica de Funis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jaNerklnnhqjNT1jtOpImLljy5iJf3ZSnR75VYdr8c8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jaNerklnnhqjNT1jtOpImLljy5iJf3ZSnR75VYdr8c8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Pergunta do Cliente": "={{ $('Webhook').item.json.body.message }}",
            "Produto": "={{ $('Webhook').item.json.body.slug }}",
            "Resposta da IA": "={{ $json.output }}",
            "Data": "={{ $now.format('dd/MM/yyyy HH:mm') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pergunta do Cliente",
              "displayName": "Pergunta do Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resposta da IA",
              "displayName": "Resposta da IA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        0
      ],
      "id": "86bce3ea-ba71-4a30-abfd-7fcf2fdeafc6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NymVujjQ6lhjFSkL",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d882f43f-589e-4145-9cf0-be766250d463",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab5161e85625fe7949820d050b414222f240a398a3451098a74adffce5e1ac5a"
  },
  "id": "nHqjmKsyVbJLsKLn",
  "tags": []
}